@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

h1 {
    font-family: "Abril Fatface";
    text-align: center; 
    font-size: 2.5em;
}

.date {
    font-size: 0.8em;
}

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    }

nav li {
    display: inline-block;
    padding: 0 0.5em;
}

nav a {
    font-size: 0.8em;
    color: #777;
    text-decoration: none;
}

body {
    background-color: #eee;
    font-family: "Source Sans Pro";
}

p {
    text-align: justify;
    padding: 0 10px;
    }
main img {
    width: 100%;
}

.newspaper-container {
    width: 700px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ddd;
    background-color: white;
    padding: 15px;
    margin: 2em auto;
}

main h2 {
    font-family:"Roboto Slab";
    }

main h5 {
    font-family: "Abril Fatface";
    color: #dd3232;
    margin-top: 0.3em;
}

.more-articles {
    border-top: 1px solid #eee;
    margin-top: 1em;
    
}
.more-articles section {
    display: inline-block;
    width: 45%;
    margin: 0 1em;
    text-align: center; 
}

.more-articles img{
    width: 100%;
}

h4 {
    font-family:"Roboto Slab";
    text-align: left; 
}